* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
}

button {
  cursor: pointer;
  transition: 0.3s ease;
}

button:active {
  opacity: 0.5;
}
